.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/
frontend/pubspec\.lock
.vscode/


backend/image_thumbnail/package-lock.json
frontend/pubspec.lock
