service cloud.firestore {
  match /databases/{database}/documents {
    // Functions
		function prefix() {
    	return /databases/$(database)/documents;
    }

    function isSignedIn() {
    	return request.auth != null;
    }

    function isUserInChat(chatId) {
    	return exists(/$(prefix())/chats/$(chatId)/users/$(request.auth.uid));
    }


    // Matches
    match /users/{user} {
    	allow read: if isSignedIn();
      allow write: if isSignedIn() && request.auth.uid == resource.id;
    }

    match /chats/{chat} {
    	allow read, write: if isSignedIn() && isUserInChat(chat);

      match /messages/{message} {
      	allow read, write: if isSignedIn() && isUserInChat(chat);
      }

      match /users/{users} {
      	allow read, write: if isSignedIn() && isUserInChat(chat);
      }
  	}
	}
}